/* <hr size="2" color="red"> */
body {
    
    background-image: url("bg1.jpg");
    background-attachment: fixed;
    background-position: right top;
    }

a {
    color: rgb(157, 233, 127);
}

img:hover {
    background-color: blue;
}

a:hover {
    color: blue;
}

h1{
    color: #ff0cca;
}
h2 {
    color: #ff0cca;
    text-align: center;
    font-size: 35px;
}

table {
    font-size: 20px;
    color: rgb(81, 252, 14);


}
ul{
    list-style-type:square;
    font-size: 20px;
    color: rgb(81, 252, 14);
    padding-left: 600px;
    
}

p {
    color: rgb(81, 252, 14);
    font-size: 18px;
}

hr {
    border-color: rgb(219, 228, 219);
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 40%;
}

.contact:hover {
    color: blue;
}

#heading {
    font-size: 50px;
}
